<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
{% load i18n %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bbs.css" >
  <title>{{ thread.title }}</title>
  <script type="text/javascript">
  <!--
    function validate() {
        var message = document.form.message.value;
        if (message == "") {
            alert("{% trans "Enter the required fields" %}");
            return false;
        }
        return true;
    }
  // -->
  </script>
</head>
<body class="main">
  <div id="header" align="right">
    <a class=sidebar href="/bbs/{{ board.id }}/">board</a>
    |
    <a class=sidebar href="/bbs/main/">top</a>
  </div>

  <div id="contents">
    <div id="thread">
      <h1>{{ thread.title }}</h1>
      <dl>
      {% for response in response_list %}
        <dt>
          {{ response.number }} <b>{{ response.username }}</b>: {{ response.date }} ID:{{ response.pin }}
        </dt>
        <dd>
          {{ response.message|linebreaks }}<br>
        </dd>
      {% endfor %}
      </dl>
      <hr>
      <form action="/bbs/{{ board.id }}/{{ thread.id }}/add/" method="post"
        name="form" onsubmit="return validate()">{% csrf_token %}
        <table align="center">
          <tbody>
            <tr>
              <td class="item">{% trans "Name" %}</td>
              <td>
                <input type="text" name="username">
                <input type="submit" name="submit" value="{% trans "Post" %}">
              </td>
            </tr>
            <tr>
              <td class="item">{% trans "Comment" %}</td>
              <td>
                <textarea name="message" rows="10" cols="60"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <div id="footer" align="right">
    <a class=sidebar href="/bbs/{{ board.id }}/">board</a>
    |
    <a class=sidebar href="/bbs/main/">top</a>
  </div>
</body>
</html>
