body {
    background-color: #1c4e63;
    color: #20435c;
    font-family: "MS PGothic", sans-serif, Helvetica, Arial;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
}

body#menu {
    background-color: #1c4e63;
    font: normal 13px sans-serif;
    margin: 10px 0 0 10px;
}

div#header,
div#footer {
    background-color: #133F52;
    color: #ffffff;
    line-height: 30px;
    padding: 0 10px 0 10px;
}

div#contents {
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
}

div.section h1 {
    background-color: #f2f2f2;
    border-bottom: 1px solid #cccccc;
    margin: 0 -20px 20px -20px;
    padding: 10px 20px 10px 20px;
}

p {
    line-height: 150%;
    margin: 0;
    padding: 0;
}

td.item {
    background-color: #6495ed;
    font-weight: bold;
}

a:link.menu,
a:visited.menu {
    color: #98DBCC;
    text-decoration: none;
}

a:hover.menu,
a:active.menu {
    color: #FFFFFF;
    text-decoration: underline;
}

a:link.sidebar,
a:visited.sidebar {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover.sidebar,
a:active.sidebar {
    color: #FFFFFF;
    text-decoration: underline;
}

div#thread {
    background-color: #efefef;
    color: #000000;
    margin: 0 -20px -20px -20px;
    padding: 0 10px 10px 10px;
}

div#thread h1 {
    color: #ff0000;
    font: normal normal normal larger;
    margin: 0;
    padding: 10px 0 0 10px;
}

div#thread b {
    color: #008000;
}
